:root {
  --branding-color: #0368d9;
  --secondary-color: white;
  --default-font-family: "Raleway", serif;
}

body {
  background-color: black;
  font-family: "Avenir";
}

h1 {
  color: var(--branding-color);
  font-family: var(--default-font-family);
  font-size: 96px;
  font-style: normal;
  font-weight: 300;
  line-height: 144px;
}
