:root {
  --branding-color: rgb(224, 223, 223);
  --secondary-color: white;
  --tertiary-color: white;
  --default-font-family: "Raleway", serif;
}

body {
  background-color: black;
  color: var(--secondary-color);
  font-family: var(--default-font-family);
}

.container {
  max-width: 100%;
  margin: 0 auto;
  width: 1200px;
}

.grid-2-columns {
  display: grid;
  grid-gap: 46px;
  grid-template-columns: 1fr 2fr;
  padding: 80px 20px;
}

.grid-2-columns-hotel {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 20px;
}

.grid-4-columns-photos {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 5px;
  padding: 20px 20px;
}

.grid-4-columns-photos img {
  max-width: 100%;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  margin: 10px;
}

.grid-4-columns-photos img:hover {
  box-shadow: 5px 5px 10px white;
}

section {
  margin: 0 auto;
  max-width: 100%;
  padding: 40px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url("../images/uor1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1.5;
  max-width: 100%;
  padding: 80px 20px;
  text-align: center;
}

header h1 {
  color: var(--branding-color);
  font-family: var(--default-font-family);
  font-size: 76px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  margin-bottom: -280px;
  margin-top: -5px;
  padding: 0;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 3), 5px 5px 20px rgb(105, 48, 0);
}

header h2 {
  color: var(--secondary-color);
  font-family: var(--default-font-family);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 600px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 2), 5px 5px 20px rgb(105, 48, 0);
}

header h3 {
  letter-spacing: 5px;
  line-height: 1.5;

  margin-top: -40px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 1), 5px 5px 20px rgb(105, 48, 0);
}

header a {
  background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );

  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  color: #000;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  outline: none;
  padding: 12px 24px;
  text-shadow: 1px 1px 2px var(--secondary-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border: 1px solid black;
}

header a:hover {
  box-shadow: 5px 5px 10px var(--branding-color);
  color: black;
  font-weight: 600;
  transform: translateY(-2px);
}

main {
  background-color: var(--branding-color);
}

main h2 {
  color: black;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 5px;
  line-height: 1.5;
  margin: 0;

  text-transform: uppercase;
}

main h3 {
  color: black;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.5;
  margin: 0;
  text-shadow: 5px 5px 20px white;
}

main p {
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-shadow: 5px 5px 10px white;
}

.main-img {
  max-width: 100%; /* Make image responsive */
  width: 275px;
  height: 275px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  margin: 10px;
}

.main-img:hover {
  box-shadow: 5px 5px 10px white;
}

.text-center {
  text-align: center;
}

section.secondary {
  background-color: var(--tertiary-color);
}

section.secondary h2,
section.secondary h3 {
  color: black;
}

.hotels-link {
  color: black;
  font-size: 26px;
  font-weight: 700;
  text-decoration: dotted;
  text-shadow: 1px 1px 3px rgb(105, 48, 0);
}

.hotels-link:hover {
  text-decoration: underline;
}

.card {
  background-color: black;
  margin: 30px 0;
  padding: 10px 10px;
}

.card-header.grid {
  grid-gap: 0;
}

.card-header img {
  display: block;

  height: 200px;
  width: 200px;
}

.embed {
  max-width: 100%;
  aspect-ratio: 1/1;
  height: 200px;
  width: 200px;
}

.card-body {
  padding: 30px;
}

.card h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin: 0 10px;
  text-shadow: 5px 5px 20px rgb(105, 48, 0);
}

.card h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 5px;
  margin-top: 40px;
}

.card-btn {
  background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );

  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  color: #000;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  outline: none;
  padding: 10px 25px;
  text-shadow: 1px 1px 2px var(--secondary-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border: 1px solid black;
}

.card-btn:hover {
  box-shadow: 5px 5px 10px var(--branding-color);
  color: var(--branding-color);
  font-weight: 600;
  text-shadow: 0.05em 0.05em 0.05em black;
  transform: translateY(-2px);
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("../images/lagoon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1.5;
  width: 100%;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer li {
  margin: 0;
  padding: 0;
}

footer h4 {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
  font-size: 16px;
  opacity: 0.8;
}

footer h4 a {
  text-decoration: none;
}

footer p {
  font-size: 14px;
  font-weight: 600;
}

footer a {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-shadow: 0.035em 0.035em 0.035em var(--branding-color);
}

footer a:hover {
  color: var(--secondary-color);
  border-radius: 50px;
  font-weight: 500;
  text-shadow: 0.025em 0.025em 0.025em black;
  box-shadow: 5px 5px 10px var(--branding-color);
}

.container-apps ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-apps li {
  margin-right: 10px;
}

.apps img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  width: auto;
}

.apps img:hover {
  box-shadow: 5px 5px 10px var(--branding-color);
}

.about-website {
  margin-bottom: 30px;
  text-align: center;
}

.about-website h4 {
  margin-bottom: 30px;

  text-align: center;
}

.about-website a {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-shadow: 3px 5px 2px var(--branding-color);
}

.about-website a:hover {
  color: var(--branding-color);
  font-weight: 500;
  text-shadow: 0.05em 0.05em 0.05em var(--secondary-color);
}
.about-website p {
  font-weight: 500px;
  font-size: 14px;
  line-height: 1.5;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 18px;
  }

  header a {
    font-size: 14px;
    padding: 5px 15px;
  }

  footer {
    font-size: 14px;
  }
  footer a {
    font-size: 14px;
  }

  .grid {
    grid-gap: 24px;
    grid-template-columns: 1fr;
  }

  section {
    padding: 20px;
  }
  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }

  .main-img:hover {
    transform: none;
    transition: none;
  }

  .grid-4-columns-photos img {
    text-align: center;
  }

  .grid-4-columns-photos img:hover {
    transform: none;
    transition: none;
  }
}
