:root {
  --branding-color: #0368d9;
  --secondary-color: white;
  --default-font-family: "Raleway", serif;
}

body {
  background-color: black;
  color: var(--secondary-color);
  font-family: var(--default-font-family);
}

.container {
  margin: 0 auto;
  max-width: 1300px;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 20px;
}

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 80px 20px;
}

section {
  margin: 0 auto;
  max-width: 1000px;
  padding: 80px 0;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url("../images/uor1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1.5;
  max-width: 100%;
  padding: 100px 20px;
  text-align: center;
}

header h1 {
  color: var(--branding-color);
  font-family: var(--default-font-family);
  font-size: 86px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  margin-top: -5px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 3), 5px 5px 20px rgb(105, 48, 0);
}

header h2 {
  color: var(--secondary-color);
  font-family: var(--default-font-family);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 375px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 2), 5px 5px 20px rgb(105, 48, 0);
}

header h3 {
  letter-spacing: 5px;
  line-height: 1.5;
  margin-top: -50px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 1), 5px 5px 20px rgb(105, 48, 0);
}

header a {
  background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );

  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  color: #000;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  outline: none;
  padding: 10px 25px;
  text-shadow: 1px 1px 2px white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border: 1px solid black;
}

header a:hover {
  box-shadow: 5px 5px 10px var(--branding-color);
  color: var(--branding-color);
  font-weight: 600;
  text-shadow: 0.05em 0.05em 0.05em black;

  transform: translateY(-2px);
}

main {
  background-color: var(--branding-color);
}

main h2 {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 5px;
  line-height: 1.5;
  margin: 0;
  opacity: 0.8;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 2);
  text-transform: uppercase;
}

main h3 {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.5;
  margin: 0;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

main p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

img {
  width: 350px; /* Set specific width */
  height: 350px; /* Set specific height */
  max-width: 100%; /* Make image responsive */
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  margin: 10px;
  display: block; /* Make it a block element */
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("../images/lagoon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1.5;
  width: 100%;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer li {
  margin: 0;
  padding: 0;
}

footer h4 {
  font-size: 16px;
}

footer h4 a {
  text-decoration: none;
}

footer p {
  font-size: 14px;
  opacity: 0.9;
}

footer a {
  color: white;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.9;
  text-decoration: none;
  text-shadow: 0.035em 0.035em 0.035em var(--branding-color);
}

footer a:hover {
  color: white;
  border-radius: 50px;
  font-weight: 500;
  text-shadow: 0.025em 0.025em 0.025em black;
  box-shadow: 5px 5px 10px var(--branding-color);
}

.container-apps ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-apps li {
  margin-right: 10px;
}

.apps img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  width: auto;
}

.apps img:hover {
  box-shadow: 5px 5px 10px var(--branding-color);
}

.about-website {
  margin-bottom: 30px;
  text-align: center;
}

.about-website a {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-shadow: 3px 5px 2px var(--branding-color);
}

.about-website a:hover {
  color: var(--branding-color);
  font-weight: 500;
  text-shadow: 0.05em 0.05em 0.05em white;
}
.about-website p {
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.5;
  opacity: 0.9;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }

  header a {
    font-size: 14px;
    padding: 5px 15px;
  }

  footer {
    font-size: 14px;
  }
  footer a {
    font-size: 14px;
  }
}
